@import "./reset.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import "@/assets/scss/_variables.scss";

html, body, #app {
  font-family: 'Roboto', Arial, sans-serif;
  height: 100vh;
}

.btn {
  transition: 0.3s box-shadow, 0.3s background;
  font-size: 13px;
  line-height: 13px;
  font-weight: 600;
  padding: 9px 10px;
  border-radius: 8px;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  outline: none;
  border: none;
  cursor: pointer;
}

input {
  width: 100%;
  background-color: $secondary-color;
  border-radius: 26px;
  outline: none;
  border: none;
  font-family: inherit;
  font-size: 18px;
  box-sizing: border-box;
}
